{% extends "main.html" %} 
{% block content %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container">
  <section class="home-container">
    <div class="animated-gradient">
      <img src="assets/background.jpg" style="display: none;"/>
    </div>
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div>
          <h1>云原生日志Agent/Aggregator</h1>
          <h2>采集、中转、解析、报警</h2>
          <h2>Logging Operator，轻量、高性能</h2>
          <p style="display: flex">
            <a href="{{ 'getting-started/overview/' | url }}" class="md-button md-button--primary newbutton">
              快速上手
              <svg fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M6,13V11H14L10.5,7.5L11.92,6.08L17.84,12L11.92,17.92L10.5,16.5L14,13H6M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12Z" /></svg>
            </a>
            <a href="{{ 'user-guide/' | url }}" class="md-button newbutton"> 
              使用指南
              <svg fill="#fff" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" /></svg>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="md-grid md-typeset">
      <h2>Highlights</h2>
      <ul class="task-list-control" style="columns: 2">
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
          <b>可扩展、热插拔：</b>配置不同的Source/Interceptor/Sink，拥有中转、过滤、解析、切分、日志报警等能力，可使用Golang快速自研插件
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>
          <b>强隔离：</b>多Pipeline设计，减少互相干扰，可同时发送多个不同数据源
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>
          <b>轻量级、高性能：</b>基于Golang，极少的资源占用，强大的吞吐性能
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>
          <b>可靠性保障：</b>完善的日志可观测性，原生Prometheus metrics支持，还有限流、背压等Interceptor
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>
          <b>云原生：</b>配置中心集成Kubernetes，创建CRD实例即可采集容器日志
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span class="task-list-indicator"></span>
          <b>不仅仅是日志：</b>数据流基于Source/Interceptor/Sink模型，可扩展更多的可能性
        </li>
      </ul>
    </div>
  </section>

</div>
{% endblock %}


