INHERIT: nav.yml

site_name: Loggie

site_description: Loggie Documentation
extra_css:
  - stylesheets/extra.css

theme:
  name: material
  language: zh
  logo: assets/loggie.svg
  custom_dir: overrides
  font:
    text: Noto Sans Simplified Chinese
    code: Robot Mono
  features:
    - content.code.annotate
    - content.tabs.link
    # - navigation.indexes
    # - navigation.instant
    # - navigation.sections
    - search.highlight
    - search.share
    - search.suggest
    - navigation.tabs
    - navigation.tracking
    - navigation.tabs.sticky
    - navigation.top

  # palette:
  #   - scheme: default
  #     primary: white
  #     accent: indigo
  #     toggle:
  #       icon: material/toggle-switch-off-outline
  #       name: Switch to dark mode
  #   - scheme: slate
  #     primary: red
  #     accent: red
  #     toggle:
  #       icon: material/toggle-switch
  #       name: Switch to light mode

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

copyright: Copyright &copy; 2021 Loggie.io

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/loggie-io
