:root {
  --md-primary-fg-color: #1a7dc9;
  --home-color: #0071c7;
  --nav-item-color: #4d4d4d;
}

.md-footer {
  margin-top: 50px;
}

.md-tabs__item {
  font-weight: 500;
}

.md-typeset h1 {
  font-weight: 500;
  color: #000000a1;
}

.md-typeset h2 {
  font-weight: 440;
}